// wrapper styles
.wrapper{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}


// body styles
body{
    font-family: $baseFont;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $primaryFont;
}

// heading heirarchy
h1,
.title{
    font-family: $headingFont;
}

h1,
h2,
h3,
.title{
    text-transform: uppercase;
}

// h2 styles
h2{
    font-size: 3.4rem;
    letter-spacing: $headerSpacing;
}

// h3 styles
h3{
    font-size: 2.4rem;
    letter-spacing: $headerSpacing;
}


// remove default link styles
a{
    text-decoration: none;
    color: inherit;
}

// remove default list styles
li{
    list-style: none;
}

// button styles
.buttonStyles{
    @include button;
    @include transition;

    &:hover{
        background-color: $secondaryFont;
        color: $background; 
        cursor: pointer;
    }
}