// wrapper styles
.wrapper{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}


// body styles
body{
    font-family: $baseFont;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $primaryFont;
}

// heading heirarchy
h1,
.title{
    font-family: $headingFont;
}

// make uppercase
h1,
h2,
h3,
.title{
    text-transform: uppercase;
}

// apply letter spacing to headings
h2,
h3{
    letter-spacing: $headerSpacing; 
}

// h2 size
h2{
    font-size: 3.4rem;
    
}

// h3 size
h3{
    font-size: 2.4rem;
}


// remove default link styles
a{
    text-decoration: none;
    // inherit from the body
    color: inherit;
}

// remove default list styles
li{
    list-style: none;
}

// button styles
.buttonStyles{
    // add button styles
    @include button;
    // add transition styles
    @include transition;

    // add hover and focus states
    &:hover{
        background-color: $secondaryFont;
        color: $background; 
        cursor: pointer;
    }

    &:focus{
        background-color: $secondaryFont;
        color: $background; 
        cursor: pointer;
    }
}