// nav styles
.topNav{
    background-color: $primary;
    height: 10vh;
    text-transform: uppercase;
    ul{
        @include flexRow;
        justify-content: center;
        a{
            display: block;
            padding: 2px 15px;
        }
    }      
}

// special styles for the title
.title a{
    font-weight: 700;
    font-size: 3.5rem;
    margin: 0 20px;
}

// overall headers

// home header 
header.home{
    // height: 90vh;
    background-color: #F6A823;

    // flex the items and position it relative for the photo
    .headerContent .wrapper{
        @include flexRow;
        justify-content: space-between;
        position: relative;

        // position relative for the main title container
        .mainTitle{
            position: relative;
            width: 50%;
            margin-left: 3%;
            z-index: 10;

            // position it to the main title container
            .circleTextContainer{
                position: absolute;
                width: 150px;
                top: -20px;
                left: -50px;
            }

            // change font size
            h1{
                font-size: 12rem;
            }
        }

        // positon it relative to the main header container | change the position and add box shadow
        .headerImageContainer{
            position: relative;
            width: 38%;
            right: 3%;
            top: 45px;
            box-shadow: 18px 18px white;

        }
    }
}
