// MEDIA QUERIES 

@media (max-width: 1020px){

    //                          HOME STYLES             
    
    // home header styles
    .home{
        .wrapper{
            .mainTitle{
                // change the size of the h1
                h1{
                    font-size: 10rem;
                }
            }

            // change size of image
            .headerImageContainer{
                width: 40%;
            }
        }
    }

    // blog posts
    .blogPosts{
        // add spacing
        padding-bottom: 60px;

        // make column
        ul{
            flex-direction: column;

            // change width of the lis
            li{
                width: 80%;
            }

            // change the size of the picture and position
            li:first-of-type{
                width: 65%;
                left: -120px;
                box-shadow: 15px 20px $secondary;
                
            }

            // change order, change the padding
            li.leftSpaced{
                order: 1;
                text-align: left;
                padding: 20px 0 20px 15%;
                
            }

            // change the padding
            li.rightSpaced{
                padding: 20px 0 20px 15%;
            }

            // add spacing below the image and change position
            li:nth-of-type(4){
                margin-bottom: 100px;
                width: 65%;
                left: -120px;
                box-shadow: 15px 20px $primary;
                
            }
        }
    }

    // journey section
    .journey{
        .wrapper{
            flex-direction: column;

            .sophieContainer{
                width: 60%;
                padding-left:10%;
                position: relative;


                img{
                    box-shadow: 15px 18px $primary;
                }
            }

            .content{
                width: 90%;
                padding: 50px 0 0 30%;
            }
        }
    }


    //                          BLOG STYLES

    // change the header styles
    .generic{
        height: 40vh;
    }

    // make into a column
    .blogPage main{
        .wrapper{
            flex-direction: column-reverse;
        }
    }

    // side info styles
    .blogPage .sideInfo{
        margin-top: 20px;
        width: 100%;
        background-color: $primary;

        // flex the two sections
        @include flex;
        justify-content: space-between;
        

        // about section styles
        .about{
            background-color: $primary;
            margin-bottom: 0;
            width: 60%;
            // flex image and written content beside each other
            @include flex;
            justify-content: space-between;

            // change the size of the containers
            .sophieContainer{
                width: 35%;
            }

            .written{
                width: 58%;


                // add padding to the top
                h3{
                    padding-top: 10%;
                }
            }
        }

        // change the styles and width
        .recentPosts{
            background-color: $primary;
            width: 40%;
            font-size: 1.4rem;

            // add padding to the top
            h3{
                padding-top: 10%;
            }

            // change color of the before element
            ul{
                li::before{
                    color: $primaryFont;
                }
            }

        }
    }

    // change width of the main
    .blogPage .mainContent{
        width: 100%;
    }

    //                  CONTACT STYLES

    // make it into a column
    .contactPage main{
        .wrapper{
            flex-direction: column-reverse;
        }
    }

    // change the width
    .contactPage .sideInfo{
        width: 100%;
        text-align: center;
    }

    // conact info section
    .contactPage .contactInfo{
        // align icons center
        ul{
            justify-content: center;

            // add more padding around icons
            a{
                padding: 0 20px;
            }
        }
    }

    // spacing for the main content
    .contactPage .mainContent{
        width: 100%;
        margin-bottom: 20px;
    }

}

@media (max-width: 850px){

    //                  HEADER STYLES

    // nav styles

    // show the humburger nav
    .topNav .hamburgerButton{
        display: block;
        font-size: 4.5rem;
        position: fixed;
        top: 0;
        right: 10%;
        z-index: 1;
    }

    // hide the nav
    .topNav ul{
        display: none;
    }

    // when checked show the nav and nav styles
    .topNav .hamburgerCheck:checked + ul{
        display: block;
        z-index: 20;
        position: fixed;
        width: 50%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $secondary;
        color: $background;
        text-align: center;
        font-size: 3rem;
        padding-top: 80px;

        // edit the padding
        a{
            padding: 30px 15px;

            &:hover{
                color: $primary;
            }

            &:focus{
                color: $primary;
            }
        }

        // hide the title in the list
        a.title{
            display: none;
        }
    }


    // show the title
    .topNav .titleRes{
        display: inline-block;
        padding: 10px 0;
        margin: 0;
        @include transition;

        &:hover{
            color: $background;;
        }
    }

    // home header styles
    .home{
        .wrapper{
            .mainTitle{
                // change the size of the h1
                h1{
                    font-size: 8rem;
                }
            }
        }
    }

    //                  HOME PAGE

    // who is sophie section
    .whoIsSophie{
        text-align: center;
        padding-top: 100px;
    }

    // icon links section
    .iconLinks{
        // make into a column and center
        ul{
            flex-direction: column;
            align-items: center;

            // make width bigger and add more padding left
            li{
                width: 80%;
                padding-left: 5%;
            }
        }
    }

    // banner section
    .banner{
        height: 250px;
    }

    // images section  
    .images{
        ul{
            li{
                width: calc((100% - 20px)/3);
            }

            li:nth-of-type(2){
                margin: 0 10px;
            }
        }
    }

    //              BLOG PAGE

    .blogPage .sideInfo{
        // flex the two sections
        flex-direction: column;
        background-color: inherit;
        

        // about section styles
        .about{
            width: 100%;
            justify-content: space-around;


            // change the size of the containers
            .sophieContainer{
                width: 30%;
            }

            .written{
                width: 55%;
            }
        }

        // change the styles and width
        .recentPosts{
            width: 100%;
            padding-left: 50px;
            margin-top: 20px;

            // add padding to the top
            h3{
                padding-top: 0;
            }

            a{
                font-size: 1.6rem;
            }

        }
    }

}