// MEDIA QUERIES 

@media (max-width: 1020px){

    //                          HOME STYLES             
    
    // home header styles
    .home .mainTitle{
        // change the size of the h1
        h1{
            font-size: 10rem;
        }
    }

    // change size of image
    .home .headerImageContainer{
        width: 40%;
    }

    // blog posts
    .blogPosts{
        // add spacing
        padding-bottom: 60px;

        // make column
        ul{
            flex-direction: column;

            // change width of the lis
            li{
                width: 80%;
            }

            // change the size of the picture and position
            li:first-of-type{
                width: 65%;
                left: -120px;
                box-shadow: 15px 20px $secondary;
                
            }

            // change order, change the padding
            li.leftSpaced{
                order: 1;
                text-align: left;
                padding: 20px 0 20px 15%;
                
            }

            // change the padding
            li.rightSpaced{
                padding: 20px 0 20px 15%;
            }

            // add spacing below the image and change position
            li:nth-of-type(4){
                margin-bottom: 100px;
                width: 65%;
                left: -120px;
                box-shadow: 15px 20px $primary;
                
            }
        }
    }

    // journey section
    .journey{
        .wrapper{
            flex-direction: column;
        }
    }

    // change width and add left padding
    .journey .sophieContainer{
        width: 60%;
        padding-left:10%;
    }

    // change width and add padding
    .journey .content{
        width: 90%;
        padding: 50px 0 0 30%;
    }



    //                          BLOG STYLES

    // change the header styles
    .generic{
        height: 40vh;
    }

    // make into a column
    .blogPage main{
        .wrapper{
            flex-direction: column-reverse;
        }
    }

    // side info styles
    .blogPage .sideInfo{
        margin-top: 20px;
        width: 100%;
        background-color: $primary;

        // flex the two sections
        @include flex;
        justify-content: space-between;
    }

    // about section styles
    .blogPage .about{
        background-color: $primary;
            margin-bottom: 0;
            width: 60%;
            // flex image and written content beside each other
            @include flex;
            justify-content: space-between;

            // change the size of the containers
            .sophieContainer{
                width: 35%;
            }

            // change width and padding
            .written{
                width: 58%;

                // add padding to the top
                h3{
                    padding-top: 10%;
                }
            }
    }

    // change the styles and width
    .blogPage .recentPosts{
        background-color: $primary;
            width: 40%;
            font-size: 1.4rem;

            // add padding to the top
            h3{
                padding-top: 10%;
            }

            // change color of the before element
            ul{
                li::before{
                    color: $primaryFont;
                }
            }
    }

    // change width of the main
    .blogPage .mainContent{
        width: 100%;
    }

    //                  CONTACT STYLES

    // make it into a column
    .contactPage main{
        .wrapper{
            flex-direction: column-reverse;
        }
    }

    // change the width
    .contactPage .sideInfo{
        width: 100%;
        text-align: center;
    }

    // contact info section
    .contactInfo{
        // align icons center
        ul{
            justify-content: center;

            // add more padding around icons
            a{
                padding: 0 20px;
            }
        }
    }

    // spacing for the main content
    .contactPage .mainContent{
        width: 100%;
        margin-bottom: 20px;
    }

}

@media (max-width: 850px){

    //                  HEADER STYLES

    // nav styles

    // show the humburger nav
    .topNav .hamburgerButton{
        display: block;
        font-size: 4.5rem;
        position: fixed;
        top: 0;
        right: 10%;
        z-index: 1;
    }

    // hide the nav
    .topNav ul{
        display: none;
    }

    // when checked show the nav and nav styles
    .topNav .hamburgerCheck:checked + ul{
        display: block;
        z-index: 20;
        position: fixed;
        width: 50%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $secondary;
        color: $background;
        text-align: center;
        font-size: 3rem;
        padding-top: 80px;

        // edit the padding
        a{
            padding: 30px 15px;

            &:hover{
                color: $primary;
            }

            &:focus{
                color: $primary;
            }
        }

        // hide the title in the list
        a.title{
            display: none;
        }
    }


    // show the title
    .topNav .titleRes{
        display: inline-block;
        padding: 10px 0;
        margin: 0;
        @include transition;

        &:hover{
            color: $background;;
        }
    }

    // home header styles
    .home .mainTitle{
        // change the size of the h1
        h1{
            font-size: 8rem;
        }
    }

    //                  HOME PAGE

    // who is sophie section
    .whoIsSophie{
        text-align: center;
        padding-top: 100px;
    }

    // make into a column and center
    .iconLinks ul{
        flex-direction: column;
            align-items: center;

            // make width bigger and add more padding left
            li{
                width: 80%;
                padding-left: 5%;
            }
    }

    // banner section
    .banner{
        height: 250px;
    }

    // images section  
    .images{
        ul{
            li{
                width: calc((100% - 20px)/3);
            }

            li:nth-of-type(2){
                margin: 0 10px;
            }
        }
    }

    //              BLOG PAGE

    // side info styles
    .blogPage .sideInfo{
        // flex the two sections
        flex-direction: column;
        background-color: inherit;
    }

    // about section styles
    .blogPage .about{
        width: 100%;
            justify-content: space-around;

            // change the size of the containers
            .sophieContainer{
                width: 30%;
            }

            .written{
                width: 55%;
            }
    }

    // change position and width
    .blogPage .recentPosts{
        width: 100%;
            padding-left: 50px;
            margin-top: 20px;

            // add padding to the top
            h3{
                padding-top: 0;
            }

            // change style
            a{
                font-size: 1.6rem;
            }
    }

}

@media (max-width: 600px){

    //              HEADER STYLES

    // home header styles
    .home{
        // padding-bottom: 100px;
        .wrapper{
            flex-direction: column;  
        }
    }

    // change position of main title
    .home .mainTitle{
        position: relative;
        bottom: -100px;
        left: 20px;
        width: 100%;
        // change the size of the h1
        h1{
            font-size: 7rem;
        }

        // change the size of the circle text
        .circleTextContainer{
            width: 110px;
            left: -40px;
        }
    }

    // change size and position
    .home .headerImageContainer{
        width: 45%;
        right: -100px;
        top: 45px;
    }


    //              HOME STYLES

    // change the spacing of blog posts
    .blogPosts{
        ul{
            // change the padding
            li.leftSpaced{
                padding-left: 5%;
                
            }

            li:first-of-type{
                left: -100px;   
            }

            // change the padding
            li.rightSpaced{
                padding-left: 5%;
            }

            li:nth-of-type(4){
                left: -100px;
                
            }
        }
    }

    // remove spacing on left
    .journey .sophieContainer{
        padding-left: 0;
    }

    // change the padding
    .journey .content{
        padding-left: 15%;
    }

    // images section  
    .images{
        // change to the column
        ul{
            flex-direction: column;
            align-items: center;

            li:nth-of-type(2){
                margin: 0 0 20px;
            }

            // change width
            li{
                width: 80%;
                margin-bottom: 20px;
            }

            
        }
    }

    //             FORM STYLES

    // change the widths
    form input[type="email"],
    form input[type="text"]{
        width: 100%;
    }

}

@media (max-width: 420px){

    //                      BASIC STYLES

    // change font sizes
    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2.2rem;
    }

    // change height of the header
    .generic{
        height: 30vh;
    }

    // change styling of h1s
    .generic h1{
        font-size: 4.5rem;
        bottom: -35px;
    }



    //                      HEADER STYLES

    // home header styles

    // change position
    .home .mainTitle{
        bottom: -85px;
        left: 20px;
        // change the size of the h1
        h1{
            font-size: 6rem;
        }
    }

    // change the position
    .home .headerImageContainer{
        width: 50%;
        right: -80px;
        top: 40px;
    }

    // change the wrapper of top nav
    .topNav .wrapper{
        width: 90%;
    }

    // when checked show the nav and nav styles
    .topNav .hamburgerCheck:checked + ul{
        width: 60%;

    }


    //                      HOME PAGE

    // blog post styles
    .blogPosts{
        ul{ 
            // make all lis take up 100%
            li{
                width: 100%;
            }
            // change the padding
            li.leftSpaced{
                padding-left: 0;
                text-align: center;
                
            }

            li:first-of-type{
                left: 0px;
                width: 100%;   
            }

            // change the padding
            li.rightSpaced{
                padding-left: 0;
                text-align: center;
            }

            li:nth-of-type(4){
                left: 0px;
                width: 100%;  
            }
        }
    }

     // make width bigger and add more padding left
    .iconLinks ul{
        li{
                width: 90%;
                padding-left: 10%;

                i{
                left: -30px;
                top: -5px;
                }
            }
    }

    // make take up full width
    .journey .sophieContainer{
        width: 100%;
    }

    // change pading and make center
    .journey .content{
        padding-left: 0;
        text-align: center;
    }

    //              BLOG PAGE
    .blogPage h2{
        font-size: 2.4rem;
    }

    // side info styles
    .blogPage .about{
        // make a column
            flex-direction: column;


            // change the size of the containers
            .sophieContainer{
                width: 100%;
            }

            .written{
                width: 100%;
            }
    }

    // comments section
    .blogPage .comments{

        // comment sections
        .commentOne{
            // change the styles of the section and make them take full width
            @include commentSections(100%, 100%);
            flex-direction: column;
            align-items: center;

            .photoContainer{
                margin-bottom: 20px;

                img{
                    margin: 0 auto;
                }
            }  
        }

        // comment two section
        .commentTwo{
            // change the styles of the section and make them take full width
            @include commentSections(100%, 100%);
            flex-direction: column;
            align-items: center;

            
            .photoContainer{
                margin-bottom: 20px;

                img{
                    margin: 0 auto;
                }
            } 
        }


    }

    // change wrapper on contact and blog
    .blogPage .wrapper,
    .contactPage .wrapper{
        width: 90%;
    }
}

@media (max-width: 320px){

    //                  BASIC STYLES
    .generic h1{
        font-size: 4rem;
        bottom: -30px;
    }

    //                  HEADER STYLES

    // home header styles

    // change position and size of h1
    .home .mainTitle{
        bottom: -80px;
        // change the size of the h1
        h1{
            font-size: 5.5rem;
        }
    }

    // change width and position
    .home .headerImageContainer{
        width: 60%;
        right: -45px;
    }

    //                  HOME STYLES

    // make width bigger and add more padding left
    .iconLinks ul{
        li{
                width: 100%;
                padding-left: 20%;

                i{
                left: -10px;
                top: -5px;
                }
            }
    }

    // banner section
    .banner{
        height: 200px;
    }

    // images section  
    .images{
        ul{

            // change width
            li{
                width: 100%;
            }

            
        }
    }

    //                  BLOG STYLES


    // change the size and width
    .blogPage .recentPosts{
        padding-left: 30px;

            // change style
            a{
                font-size: 1.4rem;
            }
    }


    //              CONTACT STYLES

    // contact info section
    .contactInfo{
        // make icons column
        ul{
            flex-direction: column;

            // add more padding around icons
            a{
                display: inline-block;
                padding: 10px 20px;
            }
        }
    }






}
