// variables

// colors
$primaryFont: #2C2C2C;
$secondaryFont: #285E64;
$primary: #F6A823;
$secondary: #A82706;
$accent: #30CCDD;
$background: #F0EFED;

// fonts
$baseFont: 'Roboto', sans-serif;
$headingFont: 'Lora', serif;

//styles
$headerSpacing: 0.1rem;

// mixins

// flexbox
@mixin flex{
    display: flex;
    flex-wrap: wrap;
}

// button styles
@mixin button {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: $accent;
    padding: 10px 20px;
}

// transitions
@mixin transition {
    transition: all 0.5s ease;
}

// section padding
@mixin sectionStyles {
    background-color: white;
    padding: 40px 30px 30px;
}

