// variables

// colors
$primaryFont: #2C2C2C;
$secondaryFont: #285E64;
$primary: #F6A823;
$secondary: #A82706;
$accent: #05AFC1;
$background: #F0EFED;

// fonts
$baseFont: 'Roboto', sans-serif;
$headingFont: 'Lora', serif;
