@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
h1 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #2C2C2C;
}

h1,
.title {
  font-family: "Lora", serif;
}

h1,
h2,
h3,
.title {
  text-transform: uppercase;
}

h2 {
  font-size: 3.4rem;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.buttonStyles {
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: #30CCDD;
  padding: 10px 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.buttonStyles:hover {
  background-color: #285E64;
  color: #F0EFED;
  cursor: pointer;
}

.buttonStyles:focus {
  background-color: #285E64;
  color: #F0EFED;
  cursor: pointer;
}

.topNav {
  background-color: #F6A823;
  text-transform: uppercase;
}

.topNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topNav ul a {
  display: block;
  padding: 2px 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.topNav ul a:hover {
  color: #F0EFED;
}

.topNav ul a:focus {
  color: #F0EFED;
}

.topNav .hamburgerButton,
.topNav .hamburgerCheck {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0 20px;
}

.titleRes {
  display: none;
}

.generic {
  height: 60vh;
  position: relative;
  background: url(../assets/blog-image-1.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: 60% center;
  background-size: cover;
}

.generic h1 {
  font-size: 6.5rem;
  position: absolute;
  bottom: -50px;
}

.contactPage .generic {
  background: url(../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home {
  background-color: #F6A823;
}

.home .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home .wrapper .mainTitle {
  position: relative;
  width: 50%;
  margin-left: 3%;
  z-index: 10;
}

.home .wrapper .mainTitle .circleTextContainer {
  position: absolute;
  width: 150px;
  top: -20px;
  left: -50px;
}

.home .wrapper .mainTitle h1 {
  font-size: 12rem;
}

.home .wrapper .headerImageContainer {
  position: relative;
  width: 38%;
  right: 3%;
  top: 45px;
  -webkit-box-shadow: 18px 18px white;
          box-shadow: 18px 18px white;
}

footer {
  background-color: #2C2C2C;
  text-align: center;
  color: #F0EFED;
  padding: 5px 0;
}

form input[type="email"]::-webkit-input-placeholder,
form input[type="text"]::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: black;
  opacity: 1;
}

form input[type="email"]:-ms-input-placeholder,
form input[type="text"]:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: black;
  opacity: 1;
}

form input[type="email"]::-ms-input-placeholder,
form input[type="text"]::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: black;
  opacity: 1;
}

form input[type="email"]::placeholder,
form input[type="text"]::placeholder,
form textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: black;
  opacity: 1;
}

form input[type="email"],
form input[type="text"] {
  width: calc(100%/2 - 5px);
  float: left;
  padding: 20px 30px;
  margin: 0 0 15px;
  border: 1px solid white;
}

form input[type="email"]:focus,
form input[type="text"]:focus {
  border-color: #F6A823;
}

form input[type="text"] {
  margin-right: 10px;
}

form textarea {
  clear: both;
  display: block;
  resize: none;
  width: 100%;
  border: 1px solid white;
  padding: 30px 30px 0;
  margin-bottom: 15px;
}

form textarea:focus {
  border-color: #F6A823;
}

form button {
  width: 100%;
  border: none;
}

.whoIsSophie {
  padding: 80px 0 130px;
  background-color: #F0EFED;
}

.whoIsSophie h2 {
  padding-bottom: 10px;
}

.whoIsSophie p {
  padding-bottom: 30px;
}

.blogPosts {
  padding: 20px 0;
}

.blogPosts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogPosts ul li {
  width: 50%;
}

.blogPosts ul li p {
  padding: 10px 0 30px;
}

.blogPosts ul li:first-of-type {
  position: relative;
  top: -65px;
  -webkit-box-shadow: 15px 20px #A82706, -200px 20px #A82706;
          box-shadow: 15px 20px #A82706, -200px 20px #A82706;
}

.blogPosts ul li.rightSpaced {
  padding-left: 10%;
}

.blogPosts ul li.leftSpaced {
  padding-right: 10%;
  text-align: right;
}

.blogPosts ul li:last-of-type {
  position: relative;
  top: 45px;
  -webkit-box-shadow: 15px 20px #F6A823, 200px 20px #F6A823;
          box-shadow: 15px 20px #F6A823, 200px 20px #F6A823;
}

.iconLinks {
  background-color: #F0EFED;
  padding: 120px 0 40px;
}

.iconLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.iconLinks ul li {
  width: 45%;
  padding-left: 2%;
  position: relative;
}

.iconLinks ul li i {
  position: absolute;
  top: 0px;
  font-size: 1.8rem;
  left: -40px;
  padding: 12px;
  background-color: #F6A823;
  border-radius: 50%;
}

.iconLinks ul li a:hover {
  color: #A82706;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.iconLinks ul li a:focus {
  color: #A82706;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.iconLinks ul li p {
  padding: 10px 0 50px;
}

.banner {
  height: 400px;
  background-image: url(../assets/home-image-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.journey {
  padding: 80px 0 100px;
  background-color: #F0EFED;
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.journey .wrapper .sophieContainer {
  width: 25%;
  height: auto;
}

.journey .wrapper .sophieContainer img {
  -webkit-box-shadow: 15px 18px #F6A823;
          box-shadow: 15px 18px #F6A823;
}

.journey .wrapper .content {
  width: 65%;
}

.journey .wrapper .content p {
  padding: 15px 0 40px;
}

.images {
  padding: 80px 0;
}

.images ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.images ul li {
  width: calc((100% - 60px)/3);
}

.images ul li:nth-of-type(2) {
  margin: 0 30px;
}

.blogPage h2 {
  font-size: 2.8rem;
}

.blogPage h3 {
  font-size: 2rem;
}

.blogPage .author,
.blogPage h4 {
  font-weight: bold;
  color: #285E64;
  font-style: italic;
}

.blogPage main {
  background-color: #F0EFED;
  padding: 80px 0;
}

.blogPage main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogPage .sideInfo {
  width: 32%;
}

.blogPage .sideInfo .about {
  background-color: white;
  padding: 40px 30px 30px;
  margin-bottom: 20px;
}

.blogPage .sideInfo .about h3 {
  padding: 20px 0 10px;
}

.blogPage .sideInfo .about a {
  color: #285E64;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blogPage .sideInfo .about a:hover {
  color: #A82706;
}

.blogPage .sideInfo .about a:focus {
  color: #A82706;
}

.blogPage .sideInfo .recentPosts {
  background-color: white;
  padding: 40px 30px 30px;
}

.blogPage .sideInfo .recentPosts h3 {
  padding: 0 0 10px;
}

.blogPage .sideInfo .recentPosts ul {
  margin-left: 10px;
}

.blogPage .sideInfo .recentPosts ul li::before {
  content: '•';
  color: #F6A823;
  margin-right: 15px;
}

.blogPage .sideInfo .recentPosts ul a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blogPage .sideInfo .recentPosts ul a:hover {
  color: #A82706;
}

.blogPage .sideInfo .recentPosts ul a:focus {
  color: #A82706;
}

.blogPage .mainContent {
  width: 65%;
}

.blogPage .mainContent .mainPost {
  background-color: white;
  padding: 40px 30px 30px;
  border-bottom: 5px solid #F6A823;
  margin-bottom: 30px;
}

.blogPage .mainContent .mainPost h2 {
  padding-bottom: 10px;
}

.blogPage .mainContent .mainPost h4 {
  font-weight: lighter;
  font-style: italic;
  color: inherit;
  padding-bottom: 10px;
}

.blogPage .mainContent .mainPost p {
  padding-bottom: 15px;
}

.blogPage .comments {
  margin-bottom: 30px;
}

.blogPage .comments .commentOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  padding: 40px 30px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.blogPage .comments .commentOne .photoContainer {
  width: 12%;
}

.blogPage .comments .commentOne .writtenContent {
  width: 85%;
}

.blogPage .comments .commentOne .writtenContent h4 {
  padding-bottom: 5px;
}

.blogPage .comments .commentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  padding: 40px 30px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 5px solid #F6A823;
}

.blogPage .comments .commentTwo .photoContainer {
  width: 12%;
}

.blogPage .comments .commentTwo .writtenContent {
  width: 85%;
}

.blogPage .comments .commentTwo .writtenContent h4 {
  padding-bottom: 5px;
}

.contactPage address .email:hover,
.contactPage address a:nth-of-type(2):hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #A82706;
}

.contactPage main {
  background-color: #F0EFED;
  padding: 80px 0;
}

.contactPage main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactPage .sideInfo {
  width: 32%;
}

.contactPage .contactInfo {
  background-color: white;
  padding: 40px 30px 30px;
}

.contactPage .contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #F6A823;
  font-size: 2.4rem;
}

.contactPage .contactInfo ul a {
  padding-right: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contactPage .contactInfo ul a:hover {
  color: #A82706;
}

.contactPage .contactInfo address {
  padding-top: 10px;
  font-style: normal;
}

.contactPage .contactInfo address a.email {
  font-weight: bold;
  font-size: 2rem;
  display: block;
  padding-bottom: 10px;
}

.contactPage .contactInfo address a:nth-of-type(2) {
  display: block;
}

.contactPage .mainContent {
  width: 65%;
}

@media (max-width: 1020px) {
  .home .wrapper .mainTitle h1 {
    font-size: 10rem;
  }
  .home .wrapper .headerImageContainer {
    width: 40%;
  }
  .blogPosts {
    padding-bottom: 60px;
  }
  .blogPosts ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPosts ul li {
    width: 80%;
  }
  .blogPosts ul li:first-of-type {
    width: 65%;
    left: -120px;
    -webkit-box-shadow: 15px 20px #A82706;
            box-shadow: 15px 20px #A82706;
  }
  .blogPosts ul li.leftSpaced {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    padding: 20px 0 20px 15%;
  }
  .blogPosts ul li.rightSpaced {
    padding: 20px 0 20px 15%;
  }
  .blogPosts ul li:nth-of-type(4) {
    margin-bottom: 100px;
    width: 65%;
    left: -120px;
    -webkit-box-shadow: 15px 20px #F6A823;
            box-shadow: 15px 20px #F6A823;
  }
  .journey .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .journey .wrapper .sophieContainer {
    width: 60%;
    padding-left: 10%;
    position: relative;
  }
  .journey .wrapper .sophieContainer img {
    -webkit-box-shadow: 15px 18px #F6A823;
            box-shadow: 15px 18px #F6A823;
  }
  .journey .wrapper .content {
    width: 90%;
    padding: 50px 0 0 30%;
  }
  .generic {
    height: 40vh;
  }
  .blogPage main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blogPage .sideInfo {
    margin-top: 20px;
    width: 100%;
    background-color: #F6A823;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blogPage .sideInfo .about {
    background-color: #F6A823;
    margin-bottom: 0;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blogPage .sideInfo .about .sophieContainer {
    width: 35%;
  }
  .blogPage .sideInfo .about .written {
    width: 58%;
  }
  .blogPage .sideInfo .about .written h3 {
    padding-top: 10%;
  }
  .blogPage .sideInfo .recentPosts {
    background-color: #F6A823;
    width: 40%;
    font-size: 1.4rem;
  }
  .blogPage .sideInfo .recentPosts h3 {
    padding-top: 10%;
  }
  .blogPage .sideInfo .recentPosts ul li::before {
    color: #2C2C2C;
  }
  .blogPage .mainContent {
    width: 100%;
  }
  .contactPage main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contactPage .sideInfo {
    width: 100%;
    text-align: center;
  }
  .contactPage .contactInfo ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactPage .contactInfo ul a {
    padding: 0 20px;
  }
  .contactPage .mainContent {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 850px) {
  .topNav .hamburgerButton {
    display: block;
    font-size: 4.5rem;
    position: fixed;
    top: 0;
    right: 10%;
    z-index: 1;
  }
  .topNav ul {
    display: none;
  }
  .topNav .hamburgerCheck:checked + ul {
    display: block;
    z-index: 20;
    position: fixed;
    width: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #A82706;
    color: #F0EFED;
    text-align: center;
    font-size: 3rem;
    padding-top: 80px;
  }
  .topNav .hamburgerCheck:checked + ul a {
    padding: 30px 15px;
  }
  .topNav .hamburgerCheck:checked + ul a:hover {
    color: #F6A823;
  }
  .topNav .hamburgerCheck:checked + ul a:focus {
    color: #F6A823;
  }
  .topNav .hamburgerCheck:checked + ul a.title {
    display: none;
  }
  .topNav .titleRes {
    display: inline-block;
    padding: 10px 0;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .topNav .titleRes:hover {
    color: #F0EFED;
  }
  .home .wrapper .mainTitle h1 {
    font-size: 8rem;
  }
  .whoIsSophie {
    text-align: center;
    padding-top: 100px;
  }
  .iconLinks ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .iconLinks ul li {
    width: 80%;
    padding-left: 5%;
  }
  .banner {
    height: 250px;
  }
  .images ul li {
    width: calc((100% - 20px)/3);
  }
  .images ul li:nth-of-type(2) {
    margin: 0 10px;
  }
}
